---
export interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
---

<a href={`detail/${name}`}>
  <div class="shadow-lg rounded p-4 cursor-pointer mb-2">
    <h5>{name}</h5>
  </div>
</a>
